# IMPORTANT: Do not put your GDC token into github
gdc-user-token.txt

# Python and snakemake
*.py[cod]
.snakemake*

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Data files
metadata/*.tsv
pilot_results
pilot_results.tgz
