# IMPORTANT: Do not put your GDC token into github
gdc-user-token*.txt
.gdcauth

# Python and snakemake
*.py[cod]
.snakemake*

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Data files
pilot_results
pilot_results.tgz
Rplots.pdf
*.bak

